<section id="hero-dashboard" class="hero hero-mini">
	<div class="hero-container">
		<h3>
			<strong>Dashboard</strong>
		</h3>
	</div>
</section>

<main id="main">
	<div class="container-fluid">
		<div class="my-3"></div>
		<%- include('./partials/messages') %>
		<div class="row p-2">
			<div class="col-4 px-2 d-flex align-items-center">
				<div class="text-center mx-auto">
					<i
						class="bi bi-person-circle dashboard-user-icon"
						id="dash-user-icon"></i>
					<img
						src=""
						alt="User Image"
						style="display: none; width: 85px"
						id="dash-user-img"
						class="border mb-2 border-danger img-fluid rounded-circle" />
					<p
						class="role-badge"
						id="dash-img-btn"
						style="background-color: #ddd">
						Image ↑
					</p>
					<script>
						const imgSRC = document
							.querySelector('#dash-user-img')
							.getAttribute('src');
						if (imgSRC) {
							console.log(imgSRC);
							document.querySelector(
								'#dash-user-img'
							).style.display = 'block';
							document.querySelector(
								'#dash-user-icon'
							).style.display = 'none';
							document.querySelector(
								'#dash-img-btn'
							).style.display = 'none';
						}
					</script>
				</div>
			</div>
			<div class="col-8 px-2 d-flex align-items-center">
				<div class="">
					<p
						class="caption-text mb-2 dashboard-text fw-bold align-middle">
						<%= user.name %>&nbsp;
						<span class="role-badge align-middle"
							><%= user.role %></span
						>
					</p>
					<p class="caption-text"><%= user.phone %></p>
					<p class="caption-text"><%= user.email %></p>
				</div>
			</div>
		</div>

		<!-- <form action="/fileupload" enctype="multipart/form-data" method="POST"> 
			<input type="file" name="image" />
			<input type="submit" value="Upload"/>
		</form> -->

		<!-- DASH CARDS -->
		<div class="dash-cards row mb-4">
			<!-- DASH PLANS FORM -->
			<div class="dash-card dash-plan-card card shadow">
				<div class="card-body">
					<h5 class="card-title dash-card-title">
						Current Plan: Plan Name
					</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary">
						Plan Category
					</h6>
					<!-- Button trigger modal -->
					<button
						type="button"
						class="btn"
						data-bs-toggle="modal"
						data-bs-target="#planDetailsModal">
						<a href="#" class="card-link fw-semibold"
							>View Details...</a
						>
					</button>

					<!-- Modal -->
					<div
						class="modal fade"
						id="planDetailsModal"
						data-bs-backdrop="static"
						data-bs-keyboard="false"
						tabindex="-1"
						aria-labelledby="staticBackdropLabel"
						aria-hidden="true">
						<div
							class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div
								class="modal-content border border-secondary mt-5 shadow-sm">
								<!-- MODAL HEADER -->
								<div class="modal-header">
									<h1
										class="modal-title fs-5 fw-semibold"
										id="staticBackdropLabel">
										Current Plan
									</h1>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<!-- MODAL BODY - PLAN DETAILS -->
								<div class="modal-body">
									<div class="program-box">
										<div
											class="box border border-danger my-5">
											<h3>Personalised Training Plan</h3>
											<ul
												style="
													list-style: none;
													padding: 0px;
												">
												<li>
													<i
														class="ri-check-double-line"></i>
													Live Strength and
													Conditioning Workout
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													2+ Hours of Live Sessions
													Everyday
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													Recovery Focused Cooldown
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													Tailored to Individual Needs
												</li>
											</ul>
										</div>
									</div>

									<!-- RELATED PLANS -->
									<h1
										class="modal-title fs-5 fw-semibold mx-auto"
										id="staticBackdropLabel">
										Related Plans
									</h1>

									<!-- RELATED PLAN DETAILS -->
									<div class="program-box">
										<div
											class="box border border-danger mt-3 mb-5">
											<h3>Personalised Training Plan</h3>
											<ul
												style="
													list-style: none;
													padding: 0px;
												">
												<li>
													<i
														class="ri-check-double-line"></i>
													Live Strength and
													Conditioning Workout
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													2+ Hours of Live Sessions
													Everyday
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													Recovery Focused Cooldown
												</li>
												<li>
													<i
														class="ri-check-double-line"></i>
													Tailored to Individual Needs
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DASH PAYMENTS CARD -->
			<div class="dash-card dash-payment-card card shadow mt-4">
				<div class="card-body">
					<h5 class="card-title dash-card-title">
						Latest Payment<br />RS.XXXX on XX-XX-XX
					</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary">
						Next Due: xx-xx-xxxx
					</h6>
					<!-- Button trigger modal -->
					<button
						type="button"
						class="btn"
						data-bs-toggle="modal"
						data-bs-target="#paymentModal">
						<a href="#" class="card-link fw-semibold"
							>All Payments</a
						>
					</button>

					<!-- Modal -->
					<div
						class="modal fade"
						id="paymentModal"
						data-bs-backdrop="static"
						data-bs-keyboard="false"
						tabindex="-1"
						aria-labelledby="staticBackdropLabel"
						aria-hidden="true">
						<div
							class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div
								class="modal-content border border-secondary mt-5 shadow-sm">
								<!-- MODAL HEADER -->
								<div class="modal-header">
									<h1
										class="modal-title fs-5 fw-semibold"
										id="staticBackdropLabel">
										All Purchases
									</h1>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<!-- MODAL BODY - PLAN DETAILS -->
								<div class="modal-body">
									<div class="payment-box">
										<div
											class="box border border-danger my-2">
											<h3>Personalised Training Plan</h3>
											<p>Date: xx-xx-xx xx:xx AM $XXX</p>
										</div>
										<div
											class="box border border-danger my-2">
											<h3>Personalised Training Plan</h3>
											<p>Date: xx-xx-xx xx:xx AM $XXX</p>
										</div>
										<div
											class="box border border-danger my-2">
											<h3>Personalised Training Plan</h3>
											<p>Date: xx-xx-xx xx:xx AM $XXX</p>
										</div>
										<div
											class="box border border-danger my-2">
											<h3>Personalised Training Plan</h3>
											<p>Date: xx-xx-xx xx:xx AM $XXX</p>
										</div>
										<div
											class="box border border-danger my-2">
											<a
												href="https://dribbble.com/shots/18475738-Finance-Mobile-App?utm_source=Clipboard_Shot&utm_campaign=qclay_design&utm_content=Finance%20-%20Mobile%20App&utm_medium=Social_Share&utm_source=Clipboard_Shot&utm_campaign=qclay_design&utm_content=Finance%20-%20Mobile%20App&utm_medium=Social_Share">
												All Transactions Final Design
											</a>
										</div>
										<div
											class="box border border-danger my-2">
											<a
												href="https://dribbble.com/shots/21088793-12-Receipt-Page-References?utm_source=Clipboard_Shot&utm_campaign=raafig&utm_content=12%20Receipt%20Page%20References&utm_medium=Social_Share&utm_source=Clipboard_Shot&utm_campaign=raafig&utm_content=12%20Receipt%20Page%20References&utm_medium=Social_Share">
												Transaction Detail Final Design
											</a>
										</div>
										<div
											class="box border border-danger my-2">
											<a
												href="https://dribbble.com/shots/19741159-Fitness-App-Subscription-Page-Details?utm_source=Clipboard_Shot&utm_campaign=tatiana_dudik&utm_content=Fitness%20App%20-%20Subscription%20Page%20Details&utm_medium=Social_Share&utm_source=Clipboard_Shot&utm_campaign=tatiana_dudik&utm_content=Fitness%20App%20-%20Subscription%20Page%20Details&utm_medium=Social_Share">
												Final Dashboard Design
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DASH TESTIMONIAL CARD -->
			<div class="dash-card dash-testimonial-card card shadow mt-4">
				<div class="card-body pt-3 pb-1">
					<h5 class="card-title dash-card-title">
						<span>
							<a href="/contact#contact-section"
								>Provide Review/ Testimonial
								<i
									class="bi bi-chevron-right floating-chevron fw-bolder"></i>
							</a>
						</span>
					</h5>
				</div>
			</div>
		</div>

	</div>
</main>
